.start {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    color: #462f2f ;
    background-image: url('infghaa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .starting{ 
    margin-left: 2rem;
    width: 35rem;
    text-align: center;
}
  
.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  
  .customButton {
    color: white;
    padding: 0.5rem 1rem;
    background-image: radial-gradient(100% 100% at 100% 0, #6f8fca 0, #0f96cc 100%);
    border-radius: 6px;
    border-color: none;
    font-size: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
  }
